appdirs==1.4.4
certifi==2020.4.5.2
Cython==0.23
Django==3.1.12
docutils==0.16
packaging==20.4
psutil==5.6.6
pyowm==2.8.0
Pygments==2.6.1
pyparsing==2.4.7
pyTelegramBotAPI==3.7.1
python-telegram-bot==12.7
requests==2.23.0
six==1.15.0
virtualenv==20.0.23
